// CONTACT

.contenido {
	background-color: #0a141d;
	color: white;
	align-items: center;
	justify-content: center;
	text-align: center;
  
	.main-info {
	  display: table-cell;
	  padding-left: 50px;
	  padding-top: 30px;
	  padding-bottom: 30px;
	  padding-right: 50px;
  
	  &:nth-child(1) {
		h1 {
		  font-weight: bold;
		  font-style: italic;
		  text-align: center;
		  margin-bottom: 15px;
		}
  
		p {
		  margin-bottom: 15px;
		}
	  }
	}
  
	.my-button {
	  display: inline-block;
	  padding: 10px 25px;
	  margin-top: 15px;
	  margin-left: 50px;
	  margin-bottom: 30px;
	  background-color: white;
	  color: black;
	  text-decoration: none;
	  border-radius: 30px;
	  transition: background-color 0.3s ease;
  
	  &:hover {
		background-color: lightblue;
		color: black;
	  }
  
	  &:focus {
		outline: none;
		box-shadow: 0 0 5px lightblue;
	  }
  
	  &:active {
		background-color: white;
		transform: translateY(1px);
	  }
	}	
  }
  
  .contact-wrapper {
	margin-top: 40px;
  
	> * {
	  padding: 1em;
	}
  }
  
  .contact-form {
	background: white;
	margin-bottom: 17px;
	color: black;
  
	form {
	  display: grid;
	  grid-template-columns: 1fr 1fr;
  
	  label {
		display: block;
	  }
  
	  p {
		margin: 0;
		padding: 1em;
	  }
  
	  .block {
		grid-column: 1 / 3;
	  }
  
	  button {
		width: 100%;
		padding: .7em;
		border: none;
		background: none;
		outline: 0;
		color: #fff;
		border-bottom: 1px solid #d63031;
	  }
  
	  input,
	  textarea {
		width: 100%;
		padding: .7em;
		border: none;
		background: none;
		outline: 0;
		color: black;
		border-bottom: 1px solid #0a1a2a;
	  }
  
	  button {
		background: lightblue;
		color: black;
		border: 0;
		text-transform: uppercase;
		padding: 1em;
  
		&:hover,
		&:focus {
		  background: black;
		  color: #fff;
		  transition: background-color 1s ease-out;
		  outline: 0;
		}
	  }
	}
  }
  
  .contact-info {
	background: #000;
	margin-bottom: 16px;
	margin-top: -2px;

	.fas {
	  margin-right: 10px;
	}
  
	h4,
	ul,
	p {
	  margin: 0 0 2rem 0;
	}
  
	p {
	  text-align: left;
	}
  }
  
  .container {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	padding: 1.5em;
  }
  
  ul {
	list-style: none;
	padding: 0;
  }
  
  @media (min-width: 700px) {
	.contact-wrapper {
	  display: grid;
	  grid-template-columns: 2fr 1fr;
  
	  > * {
		padding: 2em;
	  }
	}
  
	.contact-info h4,
	.contact-info ul,
	.contact-info p {
	  text-align: left;
	}
  }

  .footerContacto {
	width: 100%;
	background-color: #0a141d;

	.grupo-1 {
		width: 100%;
		max-width: 1200px;
		margin: auto;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 50px;
		padding: 45px 0px;

		.box {
			figure {
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;

				img {
					width: 200px;
				}
			}

			h2 {
				color: #fff;
				margin-bottom: 25px;
				font-size: 20px;
			}

			.texto-1 {
				color: #fff;
				margin-bottom: 25px;
				font-size: 20px;
				text-align: center;
			}

			p {
				color: #efefef;
				margin-bottom: 10px;
				text-align: center;
			}
		}

		.red-social {
			a {
				display: inline-block;
				text-decoration: none;
				width: 45px;
				height: 45px;
				line-height: 45px;
				color: #fff;
				margin-right: 10px;
				background-color: #0d2033;
				text-align: center;
				transition: all 300ms ease;

				&:hover {
					color: lightblue;
				}
			}
		}
	}

	.grupo-2 {
		background-color: #0a1a2a;
		padding: 15px 10px;
		text-align: center;
		color: #fff;

		small {
			font-size: 15px;
		}
	}

	@media screen and (max-width: 800px) {
		.grupo-1 {
			width: 90%;
			grid-template-columns: repeat(1, 1fr);
			grid-gap: 30px;
			padding: 35px 0px;
		}
	}
}