// LOGIN

body {
    background: #0a141d;
  }
  
  .wrapper {
    width: 330px;
    padding: 2rem 0 1rem 0;
    margin: 50px auto;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  
    h1 {
      justify-content: center;
      font-size: 2rem;
      color: black;
    }
  
    p {
      justify-content: center;
      margin-bottom: 1.7rem;
      color: black;
    }
  
    form input {
      width: 85%;
      outline: none;
      border: none;
      background: #dfe9f5;
      padding: 12px 14px;
      margin-bottom: 10px;
      border-radius: 10px;
    }
  
    .recover {
      text-align: right;
      font-size: 0.8rem;
      margin: 0.2rem 1.7rem 0 0;
  
      a {
        text-decoration: none;
        color: black;
      }
    }
  
    button {
      font-size: 1.1rem;
      margin-top: 1rem;
      padding: 8px 0;
      border-radius: 5px;
      outline: none;
      border: none;
      width: 85%;
      background: lightblue;
      color: black;
      cursor: pointer;
  
      &:hover {
        background: black;
        color: white;
      }
    }
  
    .or {
      font-size: 0.8rem;
      margin-top: 1.5rem;
    }
  
    .icons i {
      color: #07001f;
      padding: 0.8rem 1.5rem;
      border-radius: 10px;
      margin-left: 0.9rem;
      font-size: 1.5rem;
      cursor: pointer;
      border: 2px solid #dfe9f5;
  
      &:hover {
        color: #fff !important;
        background: #07001f;
        transition: 1s;
      }
  
      &:first-child {
        color: green;
      }
  
      &:last-child {
        color: blue;
      }
    }
  
    .not-member {
      font-size: 0.8rem;
      margin-top: 1.4rem;
      color: #07001f;
  
      a {
        color: rgb(66, 66, 66);
        text-decoration: none;
      }
    }
  
    a:hover {
      text-decoration: none;
    }
  }

  .footerLogin {
    width: 100%;
    background-color: #0a141d;
    color: white;
  
    .grupo-2 {
      background-color: #0a1a2a;
      padding: 15px 10px;
      text-align: center;
      color: #fff;
  
      small {
        font-size: 15px;
      }
    }
  }
  