@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans';
	background-color: #0a141d;
}

// HEADER

.header {
	background-image: url(Images/banner.jpg);
	background-size: cover;
	height: 350px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;

	p {
		font-size: 25px;
	}

	h1 {
		font-size: 65px;
		padding: 15px 0;
	}

	@media screen and (max-width: 432px) {
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 5px;
		padding: 35px 0;

		p {
			grid-template-columns: repeat(1, 1fr);
			font-size: 20px;
			grid-gap: 5px;
			padding: auto;
		}

		h1 {
			grid-template-columns: repeat(1, 1fr);
			font-size: 35px;
			grid-gap: 5px;
			padding: auto;
		}
	}
}

// NAV

.div-nav {
	background-color: #0a1a2a;
	text-align: center;
	padding: 20px;

	nav {
		a {
			display: inline-block;
			text-decoration: none;
			color: white;
			margin: 0 20px;
			padding: 5px 15px;
			border-radius: 30px;
			font-size: auto;

			&:hover {
				background-color: lightblue;
				color: black;
			}
		}

		.fas {
			margin-right: 12px;
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				display: inline-block;

				a {
					display: block;
					padding: 10px 20px;
					text-decoration: none;
					color: white;
				}

				ul {
					display: none;
					position: absolute;
					padding-top: 10px;
					padding-bottom: 10px;
					background-color: #0a1a2a;
				}

				&:hover>ul {
					display: inherit;
				}

				ul li {
					width: 200px;
					float: none;
					display: list-item;
					position: relative;

					a {
						padding: 8px 10px;
						color: white;
					}
				}
			}
		}
	}
}

// BODY
.main {
	width: 100%;
	height: calc(100vh - 200px);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #0a141d;
}

.section {
	margin-top: 830px;
	margin-bottom: 1px;
	width: 65%;
	height: 270%;
	background-color: #0a141d;

	.title {
		color: white;
		font-size: 28px;
		padding-top: 10px;
		text-align: center;
		font-weight: bold;
		font-style: italic;
	}

	.imagen {
		margin-top: 20px;
		text-align: center;

		img {
			width: 55%;
		}
	}

	.parrafo {
		text-align: center;
		font-size: larger;
		color: white;
		margin-top: 15px;
		padding-left: 30px;
		padding-right: 30px;
		font-size: 18px;
	}

	.FirstButtons {
		margin-top: 25px;
		text-align: center;

		a {
			display: inline-block;
			padding: 10px 25px;
			margin-left: 50px;
			margin-bottom: 30px;
			background-color: white;
			color: black;
			text-decoration: none;
			border-radius: 30px;
			transition: background-color 0.3s ease;

			&:hover {
				background-color: lightblue;
				color: black;
			}

			&:focus {
				outline: none;
				box-shadow: 0 0 5px lightblue;
			}

			&:active {
				background-color: white;
				transform: translateY(1px);
			}
		}
	}
}

.ClassTable {
	h1 {
		color: white;
		font-size: 28px;
		font-weight: bold;
		font-style: italic;
	}

	text-align: center;
	margin-left: 75px;
	margin-top: 5px;
	height: 90vh;
	width: 110vh;
	border-radius: .8rem;
	overflow: hidden;

	.table__body {
		width: 95%;
		max-height: calc(89% - 1.6rem);
		background-color: white;
		color: black;
		margin: .8rem auto;
		border-radius: .6rem;
		overflow: auto;
		overflow: overlay;
		
		table {
			width: 100%;
		}

		td img {
			width: 50px;
			height: 50px;
			margin-right: .5rem;
			border-radius: 50%;
			vertical-align: middle;
		}

		table,
		th,
		td {
			border-collapse: collapse;
			padding: 1rem;
			text-align: left;
		}

		thead th {
			top: 0;
			left: 0;
			background-color: rgba(16, 56, 231, 0.333);
			cursor: pointer;
			text-transform: capitalize;

			&:hover {
				color: lightyellow;
			}
		}

		tbody tr:nth-child(even) {
			background-color: #0000000b;
		}

		tbody tr {
			--delay: .1s;
			transition: .5s ease-in-out var(--delay), background-color 0s;

			&:hover {
				background-color: lightgray !important;
			}

			td,
			td p,
			td img {
				transition: .2s ease-in-out;
			}
		}
	}

	@media (max-width: 1000px) {
		td:not(:first-of-type) {
			min-width: 12.1rem;
		}
	}
}

.aside {
	text-align: center;
	margin-top: 100px;
	margin-bottom: 50px;
	width: 30%;
	height: 100%;
	background-color: #0a141d;

	.title-2 {
		color: white;
		font-size: 28px;
		padding-top: 10px;
		font-weight: bold;
		font-style: italic;
	}

	.img-aside {
		margin-top: 20px;
		width: 200px;
		height: 100px;
	}

	a {
		text-decoration: none;
	}

	.EnlaceTexto {
		text-align: center;
		font-size: larger;
		color: white;
		margin-top: 15px;
		padding-left: 30px;
		padding-right: 30px;
		font-size: 18px;
	}
}

.ClassTable-2 {
	h1 {
	  color: white;
	  font-size: 28px;
	  padding-top: 10px;
	  margin-top: 20px;
	  font-weight: bold;
	  font-style: italic;
	  margin-bottom: 20px;
	}
  
	text-align: center;
	margin-top: 5px;
	height: 90vh;
	width: 62vh;
	border-radius: .8rem;
	overflow: hidden;
	font-size: 14px;
  
	.table__body-2 {
	  width: 95%;
	  max-height: calc(89% - 1.6rem);
	  background-color: white;
	  color: black;
	  margin: .8rem auto;
	  border-radius: .6rem;
	  overflow: auto;
	  overflow: overlay;
	}
  
	table {
	  width: 100%;
	  border-collapse: collapse;
  
	  th,
	  td {
		padding: 1rem;
		text-align: left;
	  }
  
	  thead {
		th {
		  top: 0;
		  left: 0;
		  background-color: rgba(16, 56, 231, 0.333);
		  cursor: pointer;
		  text-transform: capitalize;
  
		  &:hover {
			color: lightyellow;
		  }
		}
	  }
  
	  tbody {
		tr {
		  &:nth-child(even) {
			background-color: #0000000b;
		  }
  
		  --delay: .1s;
		  transition: .5s ease-in-out var(--delay), background-color 0s;
  
		  &:hover {
			background-color: lightgray !important;
		  }
  
		  td,
		  p,
		  img {
			transition: .2s ease-in-out;
		  }
		}
	  }
	}
  
	@media (max-width: 1000px) {
	  td:not(:first-of-type) {
		min-width: 12.1rem;
	  }
	}
  }
  
  

// FOOTER

.footer {
	margin-top: 770px;
	width: 100%;
	background-color: #0a141d;

	.grupo-1 {
		width: 100%;
		max-width: 1200px;
		margin: auto;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 50px;
		padding: 45px 0px;

		.box {
			figure {
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;

				img {
					width: 200px;
				}
			}

			h2 {
				color: #fff;
				margin-bottom: 25px;
				font-size: 20px;
			}

			.texto-1 {
				color: #fff;
				margin-bottom: 25px;
				font-size: 20px;
				text-align: center;
			}

			p {
				color: #efefef;
				margin-bottom: 10px;
				text-align: center;
			}
		}

		.red-social {
			a {
				display: inline-block;
				text-decoration: none;
				width: 45px;
				height: 45px;
				line-height: 45px;
				color: #fff;
				margin-right: 10px;
				background-color: #0d2033;
				text-align: center;
				transition: all 300ms ease;

				&:hover {
					color: lightblue;
				}
			}
		}
	}

	.grupo-2 {
		background-color: #0a1a2a;
		padding: 15px 10px;
		text-align: center;
		color: #fff;

		small {
			font-size: 15px;
		}
	}

	@media screen and (max-width: 800px) {
		.grupo-1 {
			width: 90%;
			grid-template-columns: repeat(1, 1fr);
			grid-gap: 30px;
			padding: 35px 0px;
		}
	}
}